################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/VSSyntaxExtensions/bin
/VSSyntaxExtensions/obj
/.vs
/TestingStuff/bin/Release
/TestingStuff/obj
